.h1 {
  font-style: italic;
  font-size: 130%;
  color: #00da91;
  grid-column: 1/3;
  grid-row: 1/1;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.personalContainer {
  display: grid;
  width: 1200px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  row-gap: 15px;
  column-gap: 10px;
  background-color: #252827;
  padding: 2rem 0 2rem 5rem;
  border-radius: 40px;
  box-shadow: 1rem 1.5rem 3rem 2rem rgba(0, 0, 0, 0.4);
}
.inputContainer {
  background-color: antiquewhite;
  border-radius: 20px;
  width: 80%;
}
