.registerModal{
    color: #f0f0f0;
    font-size: 1.6rem;
    width: 110rem;
    height: 55rem;
    background-color: #252827;
    border-radius: 1rem;
    position: absolute;
    top: calc(50% - 27.5rem);
    left: calc(50% - 55rem);
    box-shadow: -0.3rem 0.3rem 2rem 0 rgba(0, 0, 0, 0.2);
}

.overlapingAccent{
    width: 40rem;
    height: 70rem;
    background-color: #00da91;
    position: absolute;
    top: calc(50% - 35rem);
    left: calc(50% - 40rem);
    box-shadow: -1rem 1rem 3rem 1rem rgba(0, 0, 0, 0.2);
}

.heading{
    color:#111;
    margin: 7rem 0 0 3rem;
    padding-left: 1rem;
    width: 10rem;
    border-left: 2px solid #116f5990;
}

.sideMenu{
    display: flex;
    flex-direction: column;
    height: calc(100% - 2rem);
    width: 15rem;
    border-right: 2px solid rgb(28, 28, 28);
    padding-right: 1.5rem;
    margin: 1rem 0
}

.form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    flex-grow: 1;
}

.form > div > .MuiFormControlRoot{
    border: 2px solid gold;
    background-color: red;
}

.description{
    margin: 0;
    font-size: 2rem;
}

.coloredText{
    color:#00da91;
}

.formContainer{
    display: flex;
    flex-direction: column;
    width: 30rem;
    margin: 3rem;
}

.logo{
    align-self: center;
    width: 10rem;
    display: block;
    margin: 1rem 0;
}

.step{
    padding: 1rem 1.7rem;
    margin-top: 3rem;
}

.step:first-of-type{
    margin-top: 6rem;
}

.step p{
    margin: 0;
    white-space: nowrap;
    color: #f0f0f0;
}

@media screen and (max-width: 1199px) {
    .registerModal{
        width: calc(100% - 10rem);
        left: 5rem;
    }
    .overlapingAccent{
        left: 20rem;
    }
}

@media screen and (max-width: 999px) {
    .overlapingAccent{
        width: 30rem;
    }
}

@media screen and (max-width: 899px) {
    .overlapingAccent{
        display: none;
    }
    .description{
        font-size: 1.8rem;
    }
}

@media screen and (max-width: 599px) {
    .formContainer{
        width: calc(100% - 4rem);
        margin: 2rem;
        flex-grow: 1;
        border-top: 2px solid rgb(28, 28, 28);
        padding-top: 1.5rem;
    }
    .form{
        gap: 1.5rem;
        align-items: stretch;
    }
    .form > *:last-child{
        align-self: flex-end;
    }
    .step{
        margin-top: 1.5rem;
        font-size: 1.3rem;
    }
    .step:first-of-type{
        margin-top: 1.5rem;
    }
    .sideMenu{
        border: none;
        height: auto;
    }
    .description{
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 449px) {
    .registerModal{
        width: calc(100% - 5rem);
        left: 2.5rem;
    }
    .form > *:last-child{
        align-self: center;
    }
    .sideMenu{
        margin: 0;
    }
}

@media screen and (max-width: 349px) {
    
    .formContainer{
        margin-top: 0.5rem;
    }
    .description{
        font-size: 1.3rem;
    }
}